name: CI & CD
on:
    push:
        tags:
            - v*
env:
    PUBLISH_TAG: ${{ contains(github.ref_name, '-') && 'next' || 'latest' }}

jobs:
    Test-Build-Publish-Deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            id-token: write
        steps:
            - uses: actions/checkout@v6

            - uses: pnpm/action-setup@v4
              with:
                  version: 10
            - uses: actions/setup-node@v6
              with:
                  node-version: 24
                  registry-url: https://registry.npmjs.org
                  cache: pnpm
            - name: Install Dependencies
              run: pnpm i --frozen-lockfile

            - name: Build & Publish
              run: |
                  cat > .env <<EOF
                  ${{ secrets.ENV_FILE }}
                  EOF
                  npm publish --access public --provenance --tag ${{ env.PUBLISH_TAG }}
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

            - name: Deploy document
              if: ${{ env.PUBLISH_TAG == 'latest' }}
              uses: peaceiris/actions-gh-pages@v4
              with:
                  publish_dir: ./docs
                  personal_token: ${{ secrets.GITHUB_TOKEN }}
                  force_orphan: true
