name: CI & CD
on:
    push:
        tags:
            - v*
jobs:
    Test-Build-Publish-Deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: pnpm/action-setup@v2
              with:
                  version: 7
            - uses: actions/setup-node@v3
              with:
                  node-version: 14
                  registry-url: https://registry.npmjs.org
                  cache: pnpm
            - name: Install Dependencies
              run: pnpm i --frozen-lockfile

            - name: Build & Publish
              run: npm publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
                  APP_ID: ${{ secrets.APP_ID }}
                  APP_SECRET: ${{ secrets.APP_SECRET }}
                  SPREADSHEET_ID: ${{ secrets.SPREADSHEET_ID }}
                  BITABLE_ID: ${{ secrets.BITABLE_ID }}
                  BITABLE_TABLE_ID: ${{ secrets.BITABLE_TABLE_ID }}
                  MEDIA_ID: ${{ secrets.MEDIA_ID }}
            - name: Deploy document
              uses: peaceiris/actions-gh-pages@v3
              with:
                  publish_dir: ./docs
                  personal_token: ${{ secrets.GITHUB_TOKEN }}
                  force_orphan: true
